.overview{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.296);
 backdrop-filter: blur(10px);
 display: none;
 justify-content: center; 
 align-items: center;

}
.wrapper{
 width: 400px;
 height: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: blue;
}